@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #171717;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  color: #fff;
  min-height: 100vh;
  min-height: 100svh;
}

/* width */
#searchResults::-webkit-scrollbar {
  display: none;
}
